footer {
    background: url( ../images/fundo_quadrado.png ) var(--cor-rodape);
    background-size: 10%;
    color: white;
    padding: 40px 0;
    text-align: center;
    box-shadow: none;
    position: relative;
    top: 100%;
    left: 0;
    min-height: 300px;
    z-index: 1000;
}

footer::before {
    content: "";
    height: 2rem;
    width: 100%;
    display: block;
    background-image: linear-gradient(-1deg, var(--cor-rodape) 49%, transparent 50%);
    position: absolute;
    top: -1.9rem;
}

footer::after {
    content: "";
    border-top: solid 10px #000;
    transform: rotate( -1deg );
    height: 3rem;
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    display: block;
}

footer a {
    color: var(--cor-destaque);
    text-decoration: none;
    margin: 0 10px;
}

