





    .status-card {
        display: none;
    }
    header{
        top: 2.65rem;
        display: none;
    }
  
    

    

    


    /*
        position: fixed;
        top: 1.95rem;
        left: 0;
        right: 0;
        height: 70px;
        background: #fff;
        clip-path: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
        z-index: 999;
    }

    

  
  #logo-header {
    font-size: 1.4rem;
    font-weight: 600;
    color: #4a00e0;
    margin-left: var(--margem);
    margin-top: 2.5rem;
    transition: top 0.5s ease;
  }

  .logo-header-desce {
    top: -2rem;
    transition: top 0.3s ease;
  }

  /* Estado "shrink" ao rolar * / 
  nav.shrink {
    top: 0;
    height: 60px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(6px);
  }

  nav.shrink .logo {
    font-size: 1.2rem;
  } */

}

/* ====== LAYOUT PARA TELAS MAIORES ====== */
@media (min-width: 1400px) {

}