header 
{
  width: 100vw;
  position: fixed;
  top: 2.5rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  padding: 1rem 2em;
  height: 5rem;
  z-index: 100;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#logo-header {
  width: 50%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: transform 1s cubic-bezier(0.34, 1.56, 0.64, 1),
    left 1s cubic-bezier(0.34, 1.56, 0.64, 1),
    opacity 0.6s ease;
  top: 0rem;
  left: calc( var( --margem) * .6 );
  justify-content: space-around;
}

#logo-header img {
  position: relative;  
  width: 50px;
  height: 50px;
  object-fit: contain;
}

#logo-header h1 {
  font-size: 1.5rem;
  color: #222;
  transition: all 0.5s ease;
  width: 200%;
}

/* BOTÃO DO MENU */
.menu-btn {
  position: fixed;
  top: 3.5rem;
  left: calc( var( --margem) * 6 );
  z-index: 1001;
  cursor: pointer;
  width: 70px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.menu-btn span {
  display: block;
  height: 0.28rem;
  width: 100%;
  background: #222;
  border-radius: 4px;
  transition: 0.3s;
  position: relative;
  z-index: 1002;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}

/* Logo animado ao abrir o menu */
#logo-header.move-right {
  left: calc(100% - 70%);
  transform: translateX(-50%);
}

#logo-header.move-right h1 {
  animation: fadeOut 0.5s ease forwards;
  left: calc(-150%);
  transform: translate(-50%);
  color: #fff;
}

/* Animação do botão */
.menu-btn.active span:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
  background: #fff;
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
  background: #fff;
}

/* MENU */
nav {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #1a2e2a, #0b0f0e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: circle(0% at 100% 0);
  transition: clip-path 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
  top: 0rem;
  z-index: 998;
  width: 100%;
  height: 100%;
}

.glass {
  background: rgba( 33, 181, 248, 0.7); /*rgba(26, 46, 42, 0.6);*/
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

nav.open {
  clip-path: circle(150% at 50% 50%);
  top: 0rem;
}

/* Itens do menu */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 8rem;
  z-index: 1005;
  width: 100%;
  height: 100%;
}

nav ul li {
  margin: 20px 0;
  opacity: 0;
  transform: scale(0.8);
  width: 100%;
}

nav.open ul li {
  animation: fadeIn 0.6s ease forwards;
}

nav.open ul li:nth-child(1) {
  animation-delay: 0.1s;
}

nav.open ul li:nth-child(2) {
  animation-delay: 0.2s;
}

nav.open ul li:nth-child(3) {
  animation-delay: 0.3s;
}

nav.open ul li:nth-child(4) {
  animation-delay: 0.4s;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}

#logoMob {
  position: absolute;
  top: 4rem;
  left: 3rem;
}


@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

/* ====== LAYOUT PARA TELAS MÉDIAS - TABLET ====== */
@media (min-width: 768px) 
{
  header 
  {
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.4);
  }
  
  #logo-header img 
  {
    margin-left: calc( var(--margem) * 2.5 ) !important;
  }

  .menu-btn {
    display: none;
  }

  nav 
  {
    background: transparent;
    clip-path: none;
    height: 6rem;
    width: auto;
    margin-left: 60rem;
    transform: scale(.8);
  }

  nav ul 
  {
    position: fixed;
    top: 2rem;
    position: relative;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: end;
  }

  nav ul li
  {
    opacity: 1;
  }

  nav ul li a 
  {
    text-decoration: none;
    position: relative;
    padding: 0 .5rem;
    color: #222;
    transition: all .3s ease-in-out;
    position: relative;
    z-index: 1;
  }

  nav ul li a:hover {
    z-index: 1;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  }

  nav ul li a::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 10px;
    z-index: -1;
    transition: all .3s ease-in-out;
  }

  nav ul li a:hover::before {
    bottom: 0;
    height: 3rem;
    z-index: -1;
  }

  /* Estado "shrink" ao rolar */
  #topo.shrink 
  {
    top: 2.5rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    padding-top: 1rem;
    z-index: 900;
    height: 6.05rem;
  }
}